*{
    padding: 0;
    margin: 0;

}
body{
    font-family:"Poppins",sans-serif;
   background-color: #2e364a;
}
.h2{
    margin-top: 40px;
    padding-left: 310px;
    padding-top: 10px;
    color: #fff;
    font-size: 2.2rem;
}
@media(max-width:400px){
      .h2{

        padding-left: 20px;
        margin-bottom: 0;
        padding-bottom: 0;

      }
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgba(85,85,85);
}

.timeline{
    position: relative;
    max-width: 700px;
    margin: 100px auto;


}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 4s linear forwards;
   
    /* background: rgba(0, 0, 0, 0.3); */
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(0){
   
animation-delay: 0ms;
}

.container:nth-child(2){
    animation-delay: 1.6s;
    
}
.container:nth-child(3){
    animation-delay: 3.1s;
    
}
.container:nth-child(4){
    animation-delay: 4.7s;
    
}
.container:nth-child(5){
    animation-delay: 4.6s;
    
}
.text-box{
    padding: 20px 30px;
    background-color: #faf4f4;
    border-radius: 6px;
    font-size: 15px;
    position: relative;
}
.left-container{
    left: -15%;
}
.right-container{
    right: -50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}

.timeline::after{
   content: '';
   position: absolute;
   width: 6px;
   height: 100%;
   background: #fff;
   top:0;
   left:50%;
   margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
} 
 @keyframes moveline{
    0%{
        height: 0;

    }
    100%{
        height: 100%;
    }
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom:15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
   left: -15px;
    
} 

@media screen and (max-width : 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        max-width:700px;
        padding-left:70px;
        
    }
    .text-box{
        font-size: 13px;   
        margin-right: 0px;  
        margin-left: 20px;
        padding-left: 12px;
        padding-right: 0px;
        text-align:start;
        margin-top: 14px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;

    }
    .right-container img{
        left: 12px;
    }
    .left-container img {
        left: 49px;
    }
    .left-container-arrow,.right-container-arrow{
        border-right:14px solid #fff ;
        border-left: 0;
        left: -15px;
    }
    
}