*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}
.logo{
    font-size: 2rem;
    color: whitesmoke;
    font-family:  "Lucida Handwriting";
   
}
@media (max-width:600px){
    .logo{
        font-size: smaller;
    }

}
body{
    background-color: #2f3d45;
    overflow-x: hidden;
}
nav{
    height: 80px;
    background-color: #1d3557;
    box-shadow: 3px 3px 5px rgba(168, 165, 165, 0.1) ;
}


nav ul{
    width: 100%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-top: 16px;
   font-size: larger;

}
nav li{
    height: 50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#0a0a0a;
   transition: .3s ease-out;

}

nav a:hover{
    color: rgb(81, 80, 80);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181) ;

}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blue(10px);
    box-shadow: -10px 0 10px rgba(0 ,0 ,0 ,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.back{
    background-color: aliceblue;
    padding-top: 0px;
    
   
}
.sidebar li{
    width: 100%;

}

.fa-solids{
  display: none;
  margin-right: 20px;
  margin-top: 25px;
}

/* this is for our side bar */
/* responsive */

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .fa-solids{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

}
.container .hero-pic{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #6f7171;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.hero-text h5{
    color: #fff;
    font-size: 16px;
}
.hero-text h5 samp{
    color: #007ced;
    font-size: 3rem;
}
.hero-text h1{
    color: #a8dadc;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
    font-style:unset;
    line-height: 3.8vh;
    text-align:center;
   
}
/* ltjhdgfjs;gjdfgsfd */
.btn-group{
    margin: 45px 0;

}
.btn-group .btn{
    background-color: #343131d5;
    color: #fff;
    border-color: #333;
    padding: 12px 25px;
    margin:5px 0 ;
    margin-right:7px ;
    border-radius: 30px;
    border:  2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color:#e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
   color: #5385b5;
   transform: rotate(360dge);

}
/* fasdjf;agjdfjgg */

/* this is for responsive designe */
@media(max-width : 930px){

    nav .togglebtn{
        display: inline;
    }
    .click{
        top:45px;
    }
    .click span{
         position: absolute;
         margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
 
@media(max-width:768px){
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .container p{
        font-size: 13px;
        margin-left: 3vh;
    }
    .container h1{
        font-size: 4vh;
        margin-left: 30%;
        margin-top: 5.9vh;
        color: rgb(187, 207, 215);
    }
   
    .hero-text{
        padding: 40px 10px;
    }
    .social{
        margin-left: 50%;
    }

}
}